.header {
  height: 94vh;
  margin-bottom: 6vh;
  background-image: url('https://res.cloudinary.com/dwf5gbyud/image/upload/v1536772085/Personal%20Site%20Assets/scott-webb-toronto.jpg');
  background-size: cover;
  background-position: right;
  position: relative; } 
  .header__cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding: 2rem 0 1rem;

    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-black);
    border-radius: 3px 3px 0 0;
    color: white;
    mix-blend-mode: multiply;

    animation: fadeIn .9s ease-in;
  }
    .heading-primary {
      width: 32rem;
      font-size: 10rem;
      font-weight: 700;
      text-transform: capitalize;
    }

  .header__sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding: 1.4rem 0;

    position: absolute;
    top: 71.6%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-white); 
    border-radius: 0 0 3px 3px;

    animation: slideUp .85s ease-in;
  }
    .heading-secondary {
      font-size: 4rem;
      color: var(--color-black);
    }
