.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 4rem;
  right: 5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(var(--color-shadow), .18);
  background: var(--color-white);
  cursor: pointer;
  text-align: center;
}
  .navigation__icon {
    position: relative;
    margin-top: 3rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: var(--color-black);
    transition: all .4s;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .navigation__icon::before {
    top: -.8rem;
  }

  .navigation__icon::after {
    top: .8rem;
  }

  .navigation__button:hover 
  .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button:hover 
  .navigation__icon::after {
    top: 1rem;
  }

  .navigation__checkbox:checked ~ 
  .navigation__button {
    box-shadow: none;
  }

  .navigation__checkbox:checked ~ 
  .navigation__button 
  .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked ~ 
  .navigation__button 
  .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked ~ 
  .navigation__button 
  .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

.navigation__nav {
  position: fixed;
  top: 4rem;
  right: 5rem;
  height: 6rem;
  width: 6rem;
  z-index: 100;
  
  border-radius: 50%;
  background-color: var(--color-white);

  opacity: 0;
  visibility: hidden;

  transition: all .4s;
}
  .navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 4rem 0 1rem;
  }
    .navigation__link {
      font-family: var(--font-secondary);
      font-size: 1rem;
      text-decoration: none;
      color: var(--color-black);

      transition: all .2s;
    }
    .navigation__link:hover {
      color: var(--color-link);
      transform: translateY(-2px);
    }

  .navigation__checkbox:checked ~ 
  .navigation__nav {
    width: 35rem;
    border-radius: 4.5rem;
    box-shadow: 0 1rem 3rem rgba(var(--color-shadow), .18);

    opacity: 1;
    visibility: initial;
  }

  .navigation__checkbox:checked ~
  .navigation__nav
  .navigation__list 
  .navigation__link {
    font-size: 1.7rem;
  }