.social {
  display: flex;
  justify-content: space-around;

  margin-bottom: 4rem;
  padding: 1.6rem;
  border: .4rem solid var(--color-black);
  border-radius: 2px;

  box-shadow: 0 0 3rem 1rem rgba(var(--color-shadow), 0.2); 
}

.social__button {
  display: flex;
  align-items: center;
  padding: 1rem 1.4rem;

  outline: none;
  text-decoration: none;
  background: none;
  background-color: black;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;

  transition: all .3s;
}

.social__button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 2rem .4rem rgba(var(--color-shadow), 0.2);
}

.social__button:active {
  transform: scale(1.01);
}

.social__button > span {
  padding-left: 1rem;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
}

.social__button > svg {
  height: 2rem;
  width: 2rem;

  fill: var(--color-white);
  stroke: var(--color-white);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}