/* Title */
.work-title {
  text-align: center;
  width: 100%;
  padding: 1.2rem 0;

  font-size: 1.2rem;
  border-radius: .4rem .4rem 0 0;
  color: var(--color-black); 
}

/* Container Shelf */
.work-shelf {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 10rem;
  padding: 4.4rem 2rem;

  box-shadow: inset 0 0 3rem .8rem rgba(var(--color-shadow), 0.2); 
}

/* Card */
.work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 18rem;
  width: 20rem;

  box-shadow: 0 0 2rem .4rem rgba(var(--color-shadow), 0.1);
  cursor: pointer;

  transition: all .2s;
}

.work-card__image {
  object-fit: contain;
  height: 14rem;
  margin: auto;
}

.work-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem .8rem rgba(var(--color-shadow), 0.1);
}

.work-card:active {
  transform: translateY(-1px);
  box-shadow: 0 .2rem 1rem .5rem rgba(var(--color-shadow), 0.1);
}

/* Modal */
.work-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;

  height: 100vh;
  width: 100%;

  transition: all .5s;
  transition-delay: .2s;
}

.work-modal__show {
  opacity: 1;
  visibility: initial;
}

.work-modal__hide {
  opacity: 0;
  visibility: hidden;
}

.work-modal__background {
  height: 100%;
  background-color: rgba(var(--color-shadow), 0.8);
}

/* Modal Content */
.work-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  height: 85%;
  width: 92%;

  border-radius: 2px;
  background-color: white;
}

.work-modal__close {
  outline: none;
  position: absolute;
  top: .2rem;
  right: 1.2rem;

  font-size: 3.4rem;

  background: none;
  border: none;
  cursor: pointer;

  transition: all .2s;
}

.work-modal__close:hover {
  transform: scale(1.3);
  color: var(--color-link);
}

/* Modal Text */
.work-modal__text {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 34rem;
}

.work-modal__title {
  padding: 3.6rem 4.6rem;
  font-size: 1.2rem;
  background-color: var(--color-black);
  color: white;
}

.work-modal__summary {
  padding: 2rem 2.6rem;
}

.work-modal__summary > p {
  font-size: 1.25rem;
  font-family: var(--font-secondary);
}

.work-modal__summary > p > a {
  font-family: inherit;
  text-decoration: none;
  color: var(--color-link);
}

.work-modal__summary > p > a:hover {
  text-decoration: underline;
}

/* Modal Photos */
.work-modal__photos {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2px 2px 0;
  background-color: var(--color-grey);
}

.work-modal__photos > img {
  width: 88%;
  margin: 0 1.4rem;
}

.work-modal__photos > button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;

  transition: all .2s;
}

.work-modal__photos > button:hover {
  transform: scale(1.1);
}

.work-modal__photos > button:active {
  transform: scale(1.04);
}

.work-modal__photos > button > svg {
  height: 3rem;
  width: 3rem;
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  stroke-linejoin: round; 
}

.modal-button__show > svg {
  stroke: var(--color-black);
}

.modal-button__hide > svg {
  stroke: grey;
}