
/* Title */
.work-title {
  text-align: center;
  width: 100%;
  padding: 1.2rem 0;

  border-radius: .4rem .4rem 0 0;
  background: var(--color-black);
  color: var(--color-white);
}

/* Container Shelf */
.work-shelf {
  position: relative;
  display: flex;
  justify-content: center;

  height: 18rem;
  padding: 3rem;

  box-shadow: inset 0 0 2rem .8rem rgba(var(--color-shadow), 0.2); 
}

/* Card */
.work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;

  box-shadow: 0 0 1rem .4rem rgba(var(--color-shadow), 0.1);
  cursor: pointer;

  transition: all .2s;
}

.work-card__image {
  object-fit: contain;
  height: 14rem;
  margin: auto;
}

.work-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 .4rem 1rem .8rem rgba(var(--color-shadow), 0.1);
}

.work-card:active {
  transform: translateY(-1px);
  box-shadow: 0 .2rem 1rem .5rem rgba(var(--color-shadow), 0.1);
}

/* Modal */
.work-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;

  height: 100vh;
  width: 100%;

  transition: all .5s;
  transition-delay: .3s;
}

.work-modal__show {
  opacity: 1;
  visibility: initial;
}

.work-modal__hide {
  opacity: 0;
  visibility: hidden;
}

.work-modal__background {
  height: 100%;
  background-color: rgba(var(--color-shadow), 0.8);
}

.work-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50rem;
  width: 70rem;

  border-radius: 2px;
  background-color: white;
}

/* Modal Photos */
.work-modal__photos {
  overflow: hidden;
}

.work-modal__photos > img {
  width: 100%;
}