@keyframes fadeIn {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes slideUp {
  from {
    margin-top: 2%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}